body {
    background: #FFE6E6;
    margin: 0;
    padding: 0;
    font-family: Anton, sans-serif;
    color: #085C51;
}

main {
    max-width: 100000px;
    margin: 20px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
}

section>h2{
    grid-column: 1/-1;
}

nav {
    background: #085C51;
    padding: 14px 16px;
    display: flex;
    text-align: center;
    text-transform: capitalize;
}

nav a {
    display: row;
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    width: 100%;
}

nav a:hover {
    background: #A9B7B3;
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    border-bottom: 1px solid #085C51;
    font-size: 50px;
}

#starter {
    border-bottom: 1px solid;
    border-color: #085C51;
    padding: 50px;
    text-align: center;
    margin: 10px;
    text-transform: capitalize;

}

#starter > header {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#main {
    border-bottom: 1px solid #085C51;
    padding: 50px;
    text-align: center;
    margin: 10px;
    text-transform: capitalize;

}

#dessert {
    border-bottom: 1px solid #085C51;
    padding: 50px;
    text-align: center;
    margin: 10px;
    text-transform: capitalize;
}

#drinks{
    border-bottom: 1px solid #085C51;
    padding: 50px;
    text-align: center;
    margin: 10px;
    text-transform: capitalize;
}

#sideorders{
    border-bottom: 1px solid #085C51;
    padding: 50px;
    text-align: center;
    margin: 10px;
    text-transform: capitalize;
}

.course{
    margin-top: 20px;
}

.price-full {
    font-size: 30px;
}

.info {
    margin-top: 10px;
}

.price-discount {
    text-decoration: line-through;
    font-size: 25px;
}

button{
    height: 40px;
    width: 300px;
    background-color: #085C51;
    color: white;
    margin-top: auto;
}

img{
    width: 80%;
    height: auto;
}

